body{
    background-color: #A498CD;
}

section{
    background-color: #F5ECFF;
    border: 2px dashed black;
    margin: 15px;
}

h1{
    color: white;
}

h2{
    color: #6A5EC2;
}

span{
    color: red;
}

.cancha{
    border: 2px dashed grey;
    margin: 10px;
}

.arriendo{
    border: 2px dashed grey;
    margin: 10px;
}

#preciosLUMAMI{
    border: 2px dashed grey;
    margin: 10px;
}

#preciosJUVI{
    border: 2px dashed grey;
    margin: 10px;
}

.contSWAL{
    height: 600px !important;
}